%article.about
  = content_for :page_title, 'Clients'
  #blue
    .container
      .row.centered
        .col-lg-8.col-lg-offset-2
          %h4 Awesome Clients
      / row
    / container
  / bluewrap


  -# = render 'pages/partials/about_team'
  -# = render 'pages/partials/skills'
  -# = render 'pages/partials/e_story'
