.container.w
  .row
    %br/
    %br/
    .col-lg-4.centered
      = image_tag asset_path('ahmed_profile.png'), class: "img-circle", alt: "Ahmed Nadar", height: "200", width: "200"
    .col-lg-8
      %h4 Ahmed Nadar
      %h3
        Mission-driven full stack developer with a passion for thoughtful UI design, collaboration, and teaching.
      %p
        A full-stack web developer with over 10 years of experience in wide range of design and development disciplines focusing on user experience, develop personal and business websites. I enjoy turning complex problems into simple, beautiful and intuitive interface designs.

      %p
        I've always been drawn to the overlap between design and development. My skills are broad: from ux to design, front end to back end development. I enjoy each aspect, and love building web sites from start to finish, for clients all over the world.

      %p
        As developer, I enjoy using my obsessive attention to detail, my unequivocal love for making things, and my mission-driven work ethic to literally change the world. That's why I’m excited to make a big impact at a high growth company.

      %p
        I'm available for remote work - if you would like to build something together, #{link_to 'get in touch', "http://www.twitter.com/ahmednadar", target: "_blank"}

      = link_to "www.twitter.com/ahmednadar" do
        %i.fa.fa-twitter
  / row
  %br/
  %br/
/ container
