#headerwrap
  .container
    .row.centered
      .col-lg-12
        %h1
          FRESH EXPERIENCES DESIGN & DEVELOPMENT
        %h2
        %h4 Producing high quality responsive websites and exceptional user experience
    / row
  / container
/ headerwrap




